# Ignore current running vagrant info
.vagrant

# Ignore all sites, but not vagrant.dev
/sites/*
!/sites/vagrant.dev

# Ignore all databag configs, but not vagrant.dev
/databags/sites/*
!/databags/sites/vagrant.json


# Ignore deploy folder, I use it for symlinking in wordpress stuff
/deploy/