# Ignore current running vagrant info
.vagrant

# Ignore all sites, but not vagrant.dev
/sites/*
!/sites/vagrant.dev

# Ignore all databag configs, but not vagrant.dev
/databag/site/*
!/databag/site/vagrant.json